/* _______________________________________

  RESET CSS (Eric Meyer v2.0)
__________________________________________*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


/*      DARK    / LIGHT
BLACK : #1c1f20 / #2a2c2d
GREY  : #3a3a3b / #88827d
BLUE  : #1e6d96 / #368dc3
*/

/* _______________________________________

  TYPO
__________________________________________
*/
  @font-face {
    font-family: 'FuturaStd-Condensed';
    src: url('../font/FuturaStd-Condensed.eot') format('embedded-opentype'),
      url('../font/FuturaStd-Condensed.ttf')  format('truetype'),
      url('../font/FuturaStd-Condensed.otf')  format('opentype'),
      url('../font/FuturaStd-Condensed.svg#FuturaStd-Condensed') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
      font-family: 'latolight';
      src: url('../font/lato-light-webfont.eot');
      src: url('../font/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/lato-light-webfont.woff2') format('woff2'),
           url('../font/lato-light-webfont.woff') format('woff'),
           url('../font/lato-light-webfont.ttf') format('truetype'),
           url('../font/lato-light-webfont.svg#latolight') format('svg');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'latoregular';
      src: url('../font/lato-regular-webfont.eot');
      src: url('../font/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/lato-regular-webfont.woff2') format('woff2'),
           url('../font/lato-regular-webfont.woff') format('woff'),
           url('../font/lato-regular-webfont.ttf') format('truetype'),
           url('../font/lato-regular-webfont.svg#latoregular') format('svg');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'latohairline';
      src: url('../font/lato-hairline-webfont.eot');
      src: url('../font/lato-hairline-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/lato-hairline-webfont.woff2') format('woff2'),
           url('../font/lato-hairline-webfont.woff') format('woff'),
           url('../font/lato-hairline-webfont.ttf') format('truetype'),
           url('../font/lato-hairline-webfont.svg#latohairline') format('svg');
      font-weight: normal;
      font-style: normal;
  }

/* _______________________________________

  GLOBAL DEF
__________________________________________
*/
  body,
  html {
    height: 100%;
    position: relative;
    width: 100%;
    display: block;
    margin: auto;
    font-family: 'latoregular', sans-serif;
    font-weight: 400;
  }

  .wrapper {
    margin-top: 20px;
    width: 600px;
    margin: auto;
    position: relative;
    background-color: #2a2c2d;
    color: #ffffff;
    padding: 40px 0;
  }

  .title {
    font-size: 40px;
    display: block;
    margin: 20px auto;
    text-align: center;
    font-family: 'latolight', sans-serif;
    position: relative;
  }

  .label {
    font-family: 'FuturaStd-Condensed', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    color: #88827d;
    display: block;
  }

  .time {
    font-family: 'latohairline', sans-serif;
    font-weight: 100;
    font-size: 70px;
    color: #ffffff;
    display: inline-block;
  }

  /*________________

        ICON
    ________________
  */

    .cross {
      position: relative;
      display: block;
      height: 40px;
      width: 40px;
      background-color: transparent;
      transition: all .5s;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      border-radius: 50px;
      cursor: pointer;
    }
    .cross::after,
    .cross::before {
      content: "";
      position: absolute;
      background-color: #1e6d96;
      transition: all .8s;
      -webkit-transition: all .8s;
      -moz-transition: all .8s;
    }
    .cross::after {
      height: 70%;
      width: 4px;
      top: 15%;
      left: 50%;
      margin-left: -2px;
    }
    .cross::before {
      width: 70%;
      height: 4px;
      left: 15%;
      top: 50%;
      margin-top: -2px;
    }

    .crossWrapper {
      position: absolute;
      right: 70px;
      top: 0;
    }
    .crossWrapper:hover .cross,
    .crossWrapper:focus .cross,
    .crossWrapper:active .cross {
      background-color: #1e6d96;
    }
    .crossWrapper:hover .cross::after,
    .crossWrapper:hover .cross::before,
    .crossWrapper:focus .cross::after,
    .crossWrapper:focus .cross::before,
    .crossWrapper:active .cross::after, 
    .crossWrapper:active .cross::before {
      background-color: #2a2c2d;
    }

    .close {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
    .close::after,
    .close::before {
      background-color: #9b3737;
    }
    .closeWrapper:hover .close,
    .closeWrapper:focus .close,
    .closeWrapper:active .close {
      background-color: #9b3737;
    }
    .closeWrapper:hover .close::after,
    .closeWrapper:hover .close::before,
    .closeWrapper:focus .close::after,
    .closeWrapper:focus .close::before,
    .closeWrapper:active .close::after, 
    .closeWrapper:active .close::before {
      background-color: #2a2c2d;
    }

    .backWrapper {
      position: absolute;
      left: 70px;
      top: 50%;
      margin-top: -7px;
      height: 15px;
      width: 25px;
      cursor: pointer;
    }
    .backWrapper:hover .back,
    .backWrapper:focus .back,
    .backWrapper:active .back,
    .backWrapper:hover .back::after,
    .backWrapper:focus .back::after,
    .backWrapper:active .back::after,
    .backWrapper:hover .back::before,
    .backWrapper:focus .back::before,
    .backWrapper:active .back::before  {
      background-color: #ffffff;
    }

    .back {
      height: 2px;
      width: 20px;
      background-color: #368dc3;
      position: relative;
      display: block;
      transition: all .4s;
      -webkit-transition: all .4s;
      -moz-transition: all .4s;
      margin-top: 6px;
      margin-left: 3px;
    }
    .back::before,
    .back::after {
      content: '';
      position: absolute;
      background-color: #368dc3;
      height: 2px;
      width: 10px;
      left: -3px;
      transition: all .4s;
      -webkit-transition: all .4s;
      -moz-transition: all .4s;
    }
    .back::before {
      top: 3px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
    .back::after {
      top: -3px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

/* _______________________________________

  TYPE - ALART LIST
__________________________________________
*/
  .alarms {
    width: 100%;
    margin: 50px 0;
  }
  .alarm {
    position: relative;
    padding: 30px 0;
    transition: all .5s;
    -webkit-transition: all .5s;
  }
  .alarm:hover,
  .alarm:focus,
  .alarm:active {
    background-color: #3a3b3c;
  }
  .alarm::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 80%;
    left: 10%;
    background-color: #1c1f20;
  }
  .alarm .description {
    padding-left: 70px;
  }
  .alarm .label {
    padding-left: 5px;
  }

  .alarm .listDay {
    font-size: 20px;
    color: #368dc3;
    margin-left: 5px;
  }
  .alarm .listDay span {
    margin-right: 5px;
  }

  .alarm:hover .closeWrapper {opacity: 1}
  .alarm .closeWrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
  }

/* _______________________________________

  TYPE - FORM
__________________________________________*/
  form {
    padding: 50px 70px;
    position: relative;
  }
  form .label {
    margin: 10px 0;
  }
  form input {
    margin-bottom: 40px;
  }
  form input[type="text"] {
    padding: 10px;
    width: 100%;
    background: transparent;
    border-bottom: 2px solid #368dc3;
    outline: none;
    box-shadow: none;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #FFFFFF;
    font-family: inherit;
    font-size: 30px;
  }


  form .timeWrap {
    display: inline-block;
    position: relative;
  }
  form .timeWrap2 {
    margin-left: 20px;
    padding-left: 30px;
  }
  form .timeWrap2.addZero::before {
    left: 30px !important;
  }
  form .timeWrap .time {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    width: 120px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  form .timeWrap.addZero .time {
    padding-left: 40px;
  }
  form .timeWrap.addZero::before,
  form .timeWrap2::after {
    position: absolute;
    font-family: 'latohairline', sans-serif;
    font-weight: 100;
    font-size: 70px;
    color: #ffffff;
  }
  form .timeWrap.addZero::before {
    content: '0';
    left: 0;
    top: 4px;
  }
  form .timeWrap2::after {
    content: ":";
    left: -10px;
    top: 0;
  }


  form .days {
    font-size: 0;
    display: block;
    margin-bottom: 40px;
  }

  form .days li {
    display: inline-block;
    font-size: 30px;
    margin-right: 6px;
    padding: 10px;
    border: 1px solid transparent;
    color: #ffffff;
    transition: all .5s;
    -webkit-transition: all .5s;
    cursor: pointer;
  }
  form .days li:hover,
  form .days li.active {
    color: #368dc3;
  }
  form .days li.active {
    border-color: #368dc3;
  }

  form .radioWrap {
    position: relative;
    display: inline-block;
  }
  form .musicLabel {
    font-size: 30px;
    color: #ffffff;
    margin-right: 25px;
    padding: 5px 5px 5px 25px;
    display: block;
    position: relative;
    z-index: 10;
    cursor: pointer;
  }

  form input[type="radio"] {
    position: absolute;
    visibility: hidden;
  }
  form .check {
    height: 16px;
    width: 16px;
    border: 2px solid #fff;
    transition: all .5s;
    -webkit-transition: all .5s;
    position: relative;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 11px;
    display: block;
    z-index: 5;
  }
  form input:checked + .check,
  form .radioWrap:hover .check {
    border-color: #368dc3;
  }
  form .check::before {
    content: "";
    position: absolute;
    left: 8px;
    top: 8px;
    height: 0;
    width: 0;
    border-radius: 20px;
    transition: all .5s;
    -webkit-transition: all .5s;
  }

  form input:checked + .check::before {
    background-color: #368dc3;
    left: 3px;
    top: 3px;
    height: 10px;
    width: 10px;
  }


  form button {
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'FuturaStd-Condensed', sans-serif;
    text-transform: uppercase;
    display: block;
    background-color: #3a3a3b;
    cursor: pointer;
    color: #ffffff;
    width: 100%;
    border: 0;
    padding: 10px;
    transition: all .5s;
    -webkit-transition: all .5s;
    margin-top: 60px;
  }
  form button:hover,
  form button:active,
  form button:focus {
    /*background-color: #1e6d96;*/
    background-color: #368dc3;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2) inset;
  }

